@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* background: #252323; */
  color: #fff;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 1vw 15vw;
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: auto;
}

/* Tooltip content box */
.tooltip-content {
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  transition: all 0.3s ease;
  position: absolute;
  top: 115%;
  left: -50px;
  background-color: #2b2a2a;
  color: #c4bfbf;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 10;
  white-space: nowrap;
}

.tooltip-content p {
  padding: 8px 4px;
}

.tooltip-content p:hover {
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: transparent;
  color: #ff5e00;
}

/* Show tooltip on hover */
.tooltip:hover .tooltip-content {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.logo h1 {
  color: #bd750a;
}
.logo h1:hover {
  color: #f19407;
}
.logo h1 span {
  color: #39e70e;
}
nav h1 {
  font-size: 3vw;
}
.nav2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 40%;
}
.nav2 h2 {
  font-size: 1rem;
  font-weight: 500;
}
.nav2 a h2:hover {
  color: #ff4b09;
}
nav button {
  height: 45px;
  width: 8rem;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 20px;
  border: none;
  outline: none;
  background: linear-gradient(to right, #ce6b47, #39e70e);
  color: #fff;
}
nav button:hover {
  cursor: pointer;
  background: linear-gradient(to right, #39e70e, #ce6b47);
  transition: all ease 2s;
}

#main {
  height: 100vh;
  width: 100%;
}
#page1 {
  background: linear-gradient(to top, #311004, #021841, #1a331f, #340438);
  height: 100vh;
  width: 100%;
  font-size: 3.2rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  line-height: 9vw;
}
#web-agency {
  text-decoration: underline;
  color: #f3541a;
  /* border: 1px solid #fff; */
  padding: 0px 15px;
  border-radius: 30px;
  line-height: 30px;
  margin-bottom: 20px;
}
#web-agency:hover {
  color: #39e70e;
  text-decoration: underline;
  border: 1px solid #fff;
  outline: none;
  padding: 0px 12px;
  cursor: pointer;
}
#page1 h5 {
  font-size: 2rem;
  width: 45%;
  line-height: 3.5vw;
}

#page1 p {
  font-size: 20px;
}
#page1 span {
  color: #f3541a;
  border: 1px solid wheat;
  border-radius: 20px;
  outline: none;
  background-color: transparent;
  padding: 5px 12px;
}
#page1 span:hover {
  outline: none;
  text-decoration: underline;
  color: #39e70e;
}

#page2 {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to top, #021841, #1a331f, #340438, #8b2c0a);
}
